/*color theme https://color.adobe.com/Gettysburg-color-theme-209416/edit/?copy=true */
/*********font***************/
iframe {
    height: 1080px;
    width: 1024px;
    margin: 0 auto;
    display: block;
}
h1 {
    font-size: 36pt;
    font-family: 'Permanent Marker', cursive;
    color: #962D3E;
    line-height: .25em;
}
h2 {
  text-align: center;
}
body {
    font-family: 'Coming Soon', cursive;
    overflow-x: hidden;
}
h4{
  color: #343642;
}
/*********NavBar**************/
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343642;
}

li {
    float: left;
    /*color: white;*/
}
li.hello a:hover:not(.active) {
    background-color: #343642;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #348899;
}
table, th, td {
  border: 1px solid black;
  margin: auto;
}
.login {
  border: none;
}
.nice {
  background-color: #979C9C;
  max-width: 480px;
  margin: 20px auto 20px auto;
}
input[type='text'], input[type='password'], textarea {
  font: 'Coming Soon', cursive;
  font-size: 24px;
  width: 96%;
  padding: 4px 6px;
  border: 1px solid #fff;
  border-radius: 8px;
}
input[type='submit'], textarea {
    font: 'Coming Soon', cursive;
    background-color: #348899;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin-top:10px;
    float: left;
    text-transform: uppercase;
  }
.textcenter {
  text-align: center;
}


/********** TABS **********
.tab-list {
  margin: 0;
  padding: 0;}

.tab-list li {
  display: inline-block;
  list-style-type: none;
  background-color: #303030;
  border-bottom: 3px solid #858585;
  font-family: 'Jacques Francois', serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;}

.tab-list li a {
  color: #f2f2f2;
  display: block;
  padding: 3px 10px 3px 10px;}


/********** HOVER STATES **********
.tab-list li.active, .tab-list li.hover {
  background-color: #e5e5e5;
  border-bottom: 3px solid #e5e5e5;}

.tab-list li.active a, .tab-list li a:hover {
  color: #666;
  background-color: #e5e5e5;}


/********** PANELS **********
.tab-panel {
  display: none;
  background-color: #e5e5e5;
  color: #666;
  min-height: 150px;
  overflow: auto;}

.tab-panel.active {
  display: block;}

.tab-panel p {
  margin: 20px;}