body {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;

}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: blue;
    text-align: center;
}
h2 {
    text-align: center;
}
hr.post {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1in;
    margin-right: 1in;
    border-style: inset;
    border-width: 1px;
}